

main {
    padding: 2rem;
}

.menu-section {
    margin-bottom: 2rem;
}

.menu-section h2 {
    color: #333;
    border-bottom: 2px solid #ff9900;
    padding-bottom: 0.
}
.hero-text {
    background: rgba(0, 0, 0, 0.59);
    padding: 2rem;
}

