<div class="hero-text">
<main>
    <section class="services-section">
        <h2>Our Services</h2>
        <div class="service">
            <h3>Catering</h3>
            <p>We offer catering services for all types of events, big or small. Our catering menu features a variety of delicious items to suit any occasion. Contact us to customize your order and make your event special.</p>
        </div>
        <div class="service">
            <h3>Event Hosting</h3>
            <p>Host your next event at My Cafe! Our cozy and inviting space is perfect for parties, meetings, and gatherings. We offer flexible packages to meet your needs and ensure your event is a success.</p>
        </div>
        
        <div class="service">
            <h3>Custom Orders</h3>
            <p>Have a special request? We are happy to accommodate custom orders for cakes, pastries, and more. Just let us know your preferences, and we'll create something delicious just for you.</p>
        </div>
        
    </section>
</main>
</div>