
<div class="hero-text">
  <h1 style="color: rgb(10, 151, 13); text-align: center;">ㄥ乇匚ㄩ卩</h1>
    <h1 style="color: rgb(195, 178, 178); text-align: center;">𝕮𝖔𝖋𝖋𝖊𝖊 𝖘𝖊𝖗𝖛𝖊𝖉 𝖗𝖎𝖌𝖍𝖙</h1>
    <p style="color: white; text-align: center;">𝐘𝐨𝐮𝐫 𝐜𝐨𝐳𝐲 𝐬𝐩𝐨𝐭 𝐟𝐨𝐫 𝐝𝐞𝐥𝐢𝐜𝐢𝐨𝐮𝐬 𝐜𝐨𝐟𝐟𝐞𝐞 𝐚𝐧𝐝 𝐭𝐫𝐞𝐚𝐭𝐬</p>
  </div>
  <div class="content">
    <h2>𝔽𝕖𝕒𝕥𝕦𝕣𝕖𝕕 𝕀𝕥𝕖𝕞𝕤</h2>
    <div class="featured-items">
        <img src="../../../assets/coffee.jpeg" alt="Coffee">
        <img src="../../../assets/salad.jpeg" alt="salad">
        <img src="../../../assets/smoothie.jpeg" alt="smoothie">
        <img src="../../../assets/sandwitch.jpeg" alt="smoothie">
    </div>
